@font-face {
  font-family: "iconfont"; 
  	src: url('/static/css/iconfont.ttf') format('truetype');

}

.iconfont {
  font-family: "iconfont" !important;
  font-size: 16px;
  font-style: normal;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.icon-paizhao1:before {
  content: "\e628";
}

.icon-youhui:before {
  content: "\fc21";
}

.icon-yaoqing:before {
  content: "\fc22";
}

.icon-tupian:before {
  content: "\fc23";
}

.icon-shouye:before {
  content: "\fc24";
}

.icon-shangpin:before {
  content: "\fc25";
}

.icon-lipin:before {
  content: "\fc26";
}

.icon-gouwuche:before {
  content: "\fc27";
}

.icon-dianzan:before {
  content: "\fc28";
}

.icon-paizhao:before {
  content: "\fc29";
}

.icon-shoucang:before {
  content: "\fc2b";
}

.icon-tishi:before {
  content: "\fc2c";
}

.icon-wenjian:before {
  content: "\fc2d";
}

.icon-wode:before {
  content: "\fc2e";
}

.icon-xiaoxi:before {
  content: "\fc2f";
}

.icon-gonggao:before {
  content: "\fc30";
}

.icon-hongbao:before {
  content: "\fc31";
}

.icon-quanxian:before {
  content: "\fc32";
}

.icon-shezhi:before {
  content: "\fc33";
}

.icon-wenzhang:before {
  content: "\fc34";
}

.icon-youhuiquan:before {
  content: "\fc35";
}

.icon-anquanyanzheng:before {
  content: "\fc36";
}

.icon-fenlei:before {
  content: "\fc37";
}

.icon-huiyuan:before {
  content: "\fc38";
}

.icon-sousuo:before {
  content: "\fc3a";
}

.icon-gongzuo:before {
  content: "\fc3c";
}

.icon-renwu:before {
  content: "\fc3f";
}

.icon-shuju:before {
  content: "\fc40";
}

.icon-chakandingdan:before {
  content: "\fc43";
}

.icon-gouwu:before {
  content: "\fc44";
}

.icon-bianji:before {
  content: "\fc46";
}

.icon-peisong:before {
  content: "\fc4e";
}

.icon-piaoquan:before {
  content: "\fc4f";
}

.icon-yue:before {
  content: "\fc57";
}

.icon-gengduo:before {
  content: "\fc58";
}

.icon-guanyuwomen:before {
  content: "\fc59";
}

.icon-xuanxiang:before {
  content: "\fc5a";
}

.icon-shanchu:before {
  content: "\fc62";
}

.icon-shangchuan:before {
  content: "\fc63";
}

.icon-faxian1:before {
  content: "\fc64";
}

.icon-xihuan:before {
  content: "\fc66";
}

.icon-guanbi:before {
  content: "\fc6a";
}

.icon-wendang:before {
  content: "\fc6c";
}

.icon-lishijilu:before {
  content: "\fc6f";
}

.icon-wenjianjia:before {
  content: "\fc70";
}

.icon-yingyong:before {
  content: "\fc71";
}

.icon-shezhi1:before {
  content: "\ffe5";
}

.icon-xihuan1:before {
  content: "\ffe9";
}

.icon-faxian:before {
  content: "\ffe6";
}


.icon-book:before {
  content: "\e684";
}

.icon-money-circle:before {
  content: "\e627";
}

.icon-move:before {
  content: "\e628";
}

.icon-next:before {
  content: "\e629";
}

.icon-mobile-vibrate:before {
  content: "\e626";
}

.icon-minus-rectangle:before {
  content: "\e62a";
}

.icon-order-adjustment-column:before {
  content: "\e62b";
}

.icon-photo:before {
  content: "\e62c";
}

.icon-pin:before {
  content: "\e62d";
}

.icon-play:before {
  content: "\e62e";
}

.icon-play-circle-stroke:before {
  content: "\e62f";
}

.icon-play-circle:before {
  content: "\e630";
}

.icon-previous:before {
  content: "\e631";
}

.icon-rollback:before {
  content: "\e632";
}

.icon-search:before {
  content: "\e633";
}

.icon-poweroff:before {
  content: "\e634";
}

.icon-print:before {
  content: "\e635";
}

.icon-secured:before {
  content: "\e636";
}

.icon-setting:before {
  content: "\e637";
}

.icon-star:before {
  content: "\e638";
}

.icon-swap-left:before {
  content: "\e639";
}

.icon-sound:before {
  content: "\e63a";
}

.icon-thumb-up:before {
  content: "\e63b";
}

.icon-swap:before {
  content: "\e63c";
}

.icon-unfold-less:before {
  content: "\e63d";
}

.icon-user-add:before {
  content: "\e63e";
}

.icon-unfold-more:before {
  content: "\e63f";
}

.icon-upload:before {
  content: "\e640";
}

.icon-user-avatar:before {
  content: "\e641";
}

.icon-user:before {
  content: "\e642";
}

.icon-user-circle:before {
  content: "\e643";
}

.icon-usergroup:before {
  content: "\e644";
}

.icon-user-clear:before {
  content: "\e645";
}

.icon-zoom-in:before {
  content: "\e646";
}

.icon-icon_fabu:before {
  content: "\eb88";
}